<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevTools</title>
    <style>
        body {
            font-size: 16px;
        }
        p {
            font-weight: bold;
        }
        span {
            color: red;
            font-size: 25px;
        }
        p span {
            display: none;
        }
        img {
            float: right;
        }
        table {
            display: none;
        }
    </style>
</head>
<body>
    <p>
        Hello<span>,FE</span>.Welcome.
    </p>
    <!-- pic: hello world -->
    <div>
        <img src="img/hello.jpeg" width="320" height="200">
    <table>
        <td>td1</td>
    </table>
</body>
    <em>outside</em>
</html>